/*Angel Hope D. Valdez
11/17/2022*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
	font-family: 'alexBrush';
	src: url(../font/alexbrush-regular-webfont.woff) format('woff'),
		 url(../font/alexbrush-regular-webfont.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}
nav li{
	font-size: 1.5em;
	clear: both; /*left, right, both...?*/
	list-style-type: none;
}
#outerwrapper {
	background: rgba(243,205,170, 0.4);
	border-radius: 15%;
	max-width: 70%;
	content: center;
	margin-left: auto;
	margin-right: auto;
}
body{
	background-image: url(../image/jewelry.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
main{
	background: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20x;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
	font-family: 'Pacifico', sans-serif;
	font-size: 4em;
}
h2{
	font-family: 'alexBrush', 'Verdana', sans-serif;
	font-style: italic;
	font-size: 2em;
}
header img{
	float: left;
	border-radius: 100%;
}
footer{
	font-size: 1em;
	text-align: center;
	padding: 10px;
}
.addrightmargin{
	margin-right: 10%;
}